# Notebook 1 - EDA

In [3]:
%matplotlib inline

from sklearn.externals import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
uci_madelon = joblib.load("./pickles/uci_madelonALL.pkl")

In [5]:
j_madelon = joblib.load('./pickles/j_madelon_test.pkl')

## UCI

In [6]:
uci_madelon.head()

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,target
0,485,477,537,479,452,471,491,476,475,473,...,481,477,485,511,485,481,479,475,496,-1
1,483,458,460,487,587,475,526,479,485,469,...,478,487,338,513,486,483,492,510,517,-1
2,487,542,499,468,448,471,442,478,480,477,...,481,492,650,506,501,480,489,499,498,-1
3,480,491,510,485,495,472,417,474,502,476,...,480,474,572,454,469,475,482,494,461,1
4,484,502,528,489,466,481,402,478,487,468,...,479,452,435,486,508,481,504,495,511,1

In [7]:
uci_madelon.shape

(2000, 501)

## Josh's

In [6]:
j_madelon.head()

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
3527,92462,1.045730,-0.393051,-1.060495,-0.746131,0.144327,0.437297,0.547100,-0.071002,0.203733,...,-0.610445,-1.328360,0.935915,-0.745279,-0.293214,0.917078,-1.730158,0.376441,-1.956205,1
851,113253,-1.169504,0.388190,-1.393414,0.237846,0.618259,0.501894,-1.277821,1.704995,-0.573793,...,-0.792094,-1.365492,0.565632,0.671481,-0.249191,1.322156,-0.539974,-1.060874,-1.001694,0
2368,98712,-1.087117,0.234398,-0.205166,-2.824575,1.335523,-1.186759,-0.625478,-0.076769,-0.567801,...,-0.034100,-0.349722,0.587880,-0.807453,0.415176,-0.875847,0.888162,0.900684,1.571435,1
3590,49255,0.789553,-0.673867,0.115358,-0.654231,-1.077256,1.274941,-0.595050,-0.039585,-0.198331,...,-1.824940,-0.100509,-1.146620,-0.596423,-0.805474,-0.655337,1.656749,0.987302,-0.866606,1
3412,94784,-0.420093,0.201573,-1.743223,-2.815402,0.606608,0.282942,-0.577935,-0.927724,1.712429,...,-0.323253,-0.528066,1.252311,-0.168354,1.366005,0.304115,0.197605,0.594122,0.457034,0

In [8]:
j_madelon.shape

(2000, 1002)

small change